.modal {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 6.7rem 0;
  background-color: #1f3641;
  text-align: center;
  transform: translateY(-50%);
  animation: fadeIn 0.4s ease-in-out;
  display: none;
}
